<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Prototipo de chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
      
    </ion-toolbar>
  </ion-header>

  <p style="text-align: center;color:red">
    * Esta app ha sido desarrollado con el propósito de mostrar la funcionalidad del sistema de mensajería y de notificaciones, y llegar a implementarla en nuestro sistema.
  </p>

  <form [formGroup]="formulario" (ngSubmit)="login()">
    
    <ion-item class="form">
      <ion-label position="floating">Email</ion-label>
      <ion-input class="form" type="text" required formControlName="email"></ion-input>
    </ion-item>
    <ion-item class="form">
      <ion-label  position="floating">Contraseña</ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" expand="block" [disabled]="formulario.invalid">Iniciar Sesión</ion-button>
  </form>
</ion-content>
